@import "styles";

@media screen and (max-width: 1125px) {
  .destinations-display {
    display: none;
  }
  .form-section, .trips-display {
    @include width(50%)
    padding: 25px;
  }
}

@media screen and (max-width: 745px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .form-section, .trips-display {
    @include width(95%)
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: xx-large;
  }
}

@media screen and (max-width: 408px) {
  h1 {
    font-size: x-large;
  }
}
