
//button rounded corners
@mixin rounded-corners($radius) {
  border-radius: $radius
}
@mixin padding($padding){
  padding: $padding 0;
}
@mixin width($width) {
  width: $width;
}
@mixin centered() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
