@import 'variables';


body {
  background-color: $primary-background-color;
  font-family: Roboto;
}
header {
  background-color: $header-background-color;
  @include padding(5px)
  @include centered;
  color: white

}

h1 {
  color: white

  // font-family: Roboto;
}

.submit-request, .get-trip-estimate {
  @include rounded-corners(5px)
}
main {
  display: flex;

}
.trips-display, .form-section, .destinations-display {
  flex-direction: column;
  @include width(33%);
  padding: 25px

}

input {
    width: -webkit-fill-available;
}
.location-pic {
  width: 100px;
  height: 100px;
}
.trips-display, .destinations-display {
  height: 75vh;
  overflow-y: scroll;
}
article {
  background-color: white;
}
