@import 'variables';


body {
  background-color: $primary-background-color;
  font-family: Roboto;
}

header {
  background-color: $header-background-color;
  @include padding(5px)
  @include centered;
  color: white;
}

.user-sign-in {
  text-align: center;
  width: fit-content;
  margin: auto;
}

.header {
  font-size: x-large;
  color: #46494C;
}
h1 {
  margin: 5px;
  font-size: xxx-large;
}
h3 {
  margin: 10px;
  font-size: xx-large;
}
p, h3 {
  text-align: center;
  margin: 5px, 0;
}

button {
  @include rounded-corners(5px);
  padding: 10px;

  &:hover{
    background-color: #478978;
    color: white;
  }
}

.sign-in {
  padding: 5px 40px;
  margin-top: 18px;
}
main {
  display: flex;
}

.trips-display, .form-section, .destinations-display {
  flex-direction: column;
  @include width(33%);
  padding: 25px

}

input {
    width: -webkit-fill-available;
    @include rounded-corners(5px);
    padding: 5px;
    margin: 10px 0;
}

.form-section {
  padding: 5px;
}

.location-pic {
  width: 200px;
  height: 125px;
}
.trips-display, .destinations-display {
  height: 75vh;
  overflow-y: scroll;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-background-color;
  border: 2px solid #478978;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  text-align: center;
}

.hidden {
  display: none;
}
