//***Colors**
//charcoal: #2e4057
//Beau Blue: #D6EDFF
//Uranian Blue: #ACD7EC
//Blue Bell: #8B95C9
//Viridian: #478978


//**Background Colors**
$primary-background-color: #D6EDFF
$form-background-color: #8B95C9
$header-background-color: #478978


//**Text Colors**
$main-text-color: #2e4057
